* {
    margin: none;
    padding: 0;
}
body{
    background: rgb(131,58,180);
    background: linear-gradient(90deg, rgba(131,58,180,1) 0%, rgba(253,29,29,1) 50%, rgba(252,176,69,1) 100%);
}
.master{
    width : 95vw;
    height: auto;
    padding: 5% 10%;
    margin:auto;
}
.master form{
    background: rgba(201, 201, 201, 0.637);
    padding: 5%;
    padding: 5%;
    border-radius: 10px;
}

label{
    padding: 10px;
    color: white;
}

legend{
    font-weight: bold;
    color: white;
}
