:root{
    --backgroundImage:'background.jpg';
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    width: 100%;
    font-family: 'roboto', sans-serif;
    overflow-x: hidden;
}
  /****************************************Header****************************************/
.header{
    width: 100%;
    height: 50vh;
    background:red no-repeat center;
    background-size: cover;
    background-attachment: fixed;
    color: rgb(255, 255, 255);
}
.shadow {
    -webkit-box-shadow: inset 0 0 10px #000000;
    -moz-box-shadow:    inset 0 0 10px #000000;
    box-shadow:         inset 0 0 10px #000000;
}
nav{
    display: flex;
    justify-content: space-between;
    padding: 5px 10px;
    background-color: #00000090;
    
}
.logo{
    font: 3rem 'Racing Sans One', cursive;

}
.links{
    display: flex;
    align-items: center;
}
.links button{
    border: 1px solid rgb(255, 255, 255);
    border-radius: 10px;
    color: rgb(255, 255, 255);
    height: fit-content;
}
.links button:hover{
    background-color: rgb(255, 255, 255);
    color: #000000
}

@media only screen and (max-width: 600px) {
    .logo{
        font: 2rem 'Racing Sans One', cursive;
    }
    .links button{
            background-color: rgb(255, 255, 255);
            color:rgb(0, 0, 0)
    }
    
  }
/****************************************Content****************************************/
.tabs{
    position: relative;
    width: 100%;
    height: 60px;
    display: flex;
    background: #232323;
    justify-content: center;
    align-items: center;
}

.tab{
    width: 20%;
    height: 100%;
    text-align: center;
    line-height: 60px;
    font-size: 20px;
    color: #b9b9b9;
    transition: .5s;
}

.tab:hover{
    background: #373737;
}

.tabs .active{
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    height: 60px;
    width: 20%;
    border-bottom: 4px solid #fff;
    transition: 1s;
}

.content{
    position: relative;
    width: 500vw;
    min-height: calc(100vh - 60px);
    height: fit-content;
    display: grid;
    grid-template-columns: repeat(5, 100vw);
    transition: .5s;
}

.page{
    position: relative;
    width: 100%;
    height: 100%;
    background: url(https://raw.githubusercontent.com/kunaal438/tabs-in-css/master/img/img1.jpeg);
    background-size: cover;
    background-position: center;
    padding: 50px;
}

.page:nth-child(2){
    background: url(https://raw.githubusercontent.com/kunaal438/tabs-in-css/master/img/img2.jpeg);
    background-size: cover;
}

.page:nth-child(3){
    background: url(https://raw.githubusercontent.com/kunaal438/tabs-in-css/master/img/img3.jpeg);
    background-size: cover;
}

.page:nth-child(4){
    background: url(https://raw.githubusercontent.com/kunaal438/tabs-in-css/master/img/img4.jpeg);
    background-size: cover;
}

.page:nth-child(5){
    background: url(https://raw.githubusercontent.com/kunaal438/tabs-in-css/master/img/img5.jpeg);
    background-size: cover;
}

.page::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: #232323;
    opacity: .8;
}

.page .title,
.page hr,
.page p{
    position: relative;
    z-index: 2;
}

.title{
    color: #fff;
    text-transform: capitalize;
    font-size: 50px;
}

hr{
    margin: 20px 0;
}

.page p{
    color: #fff;
    font-weight: 300;
    margin-top: 40px;
    line-height: 25px;
}
/****************************************Footer****************************************/
.footer{
    height: 20vh;
    background:yellow;
}