:root {
    --transition: all 0.4s linear;
    --spacing: 0.1rem;
  }
*,
::after,
::before {
margin: 0;
padding: 0;
box-sizing: border-box;
}

ul {
list-style-type: none;
}

a {
text-decoration: none;
}

nav {
box-shadow: 0 4px 14px rgba(0, 0, 0, 0.1);
}
.nav-toggle {
font-size: 1.5rem;
color: black;
background: transparent;
border: transparent;
transition: var(--transition);
cursor: pointer;
}

.nav-toggle:hover {
transform: rotate(90deg);
}

.links a {
color: grey;
font-size: 1rem;
display: block;
padding: 0.5rem 1rem;
transition: var(--transition);
letter-spacing: var(--spacing);
text-transform: capitalize;
}

.links a:hover {
background: black;
color: white;
padding: 1rem;
}

.links {
height: 0;
overflow: hidden;
transition: var(--transition);
}

.show-links {
height: 25%;
}
@media screen and (min-width: 800px) {
.nav-center {
    max-width: 1170px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
}
.nav-toggle {
    display: none;
}

.nav-header {
    padding: 0;
}

.links {
    height: auto;
    display: flex;
}

.links a {
    padding: 0;
    margin: 0 0.5rem;
    font-size: 1.2rem;
}
.links a:hover {
    padding: 0;
    background: transparent;
    color: black;
}}