{% extends 'base.html' %}

{% block head %}
<link rel="stylesheet" href="static/forms.css">
{% endblock %}

{% block body %}

  <div class="master">
    <form action='/forms' class="form-control" method='POST' enctype="multipart/form-data">
        <div class="form-group">
            <legend>About Event</legend>
            <label for="Event">Name of the Event</label>
            <input type="text" class="form-control" id="eventName" name="eventName" required>
            <label for="Organizer">Organized By</label>
            <select class="form-control" id="organizer" name="organizer">
                <option value="IEEE_SCTSB">IEEE SCTSB</option>
                <option value="IEEE">IEEE (Other College)</option>
                <option value="NSS_SCTCE">NSS SCT</option>
                <option value="NSS">NSS (Other College)</option>
                <option value="Lanscape">Lanscape</option>
                <option value="Aerospace">Aerospace</option>
                <option value="SFI">SFI</option>
                <option value="KSU">KSU</option>
                <option value="AVBP">AVBP</option>
                <option value="Others">OTHER</option>
            </select>
            <label for="eventPoster">Poster File</label>
            <input type="file" name="eventPoster" id="eventPoster" class="form-control" required>
            <label for="eventDetails">Details :</label>
            <textarea name="eventDetails" id="eventDetails" cols="30" rows="10" class="form-control"></textarea>
            <label for="startDate">Start Date</label>
                <input type="date" name="startDate">

            <label for="startDate" >End Date</label>
                <input type="date" name="endDate">
        </div>
        <div class="form-group">
            <legend>Contact</legend>
            <label for="regLink">Registration Link</label>
            <input type="text" class="form-control" name="regLink" placeholder="optional">
            <label for="contactNumber">Contact Number 1:</label>
            <input type="text" class="form-control" name="contactOne" required>
            <label for="contactNumber">Contact Number 2:</label>
            <input type="text" class="form-control" name="contactTwo" placeholder="optional">

        </div>
        <div style="margin: 5px 0;">
            <button type="submit" class="btn btn-primary btn-lg">Submit</button>
            <button type="reset" class="btn btn-warning btn-lg" >Clear</button>
        </div>
    </form>
  </div>
        {% endblock %}
