{%extends 'base.html'%}

{%block head%}
<title>Home</title>
<link
rel="stylesheet"
href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css"/>
<link rel="stylesheet" href="static/indexPage.css">
{%endblock%}

{%block body%}
<nav>
  <div class="nav-center">
    <div class="nav-header">
      <h3>SCT Wall</h3>
      <button class="nav-toggle">
        <i class="fas fa-bars"></i>
      </button>
    </div>
    <ul class="links">
      <li>
        <a href="#" class="" id="homeButton">Home</a>
      </li>
      <li>
        <a href="#" id="loginButton">Login</a>
      </li>
    </ul>
  </div>
</nav>
<script src="static/indexPage.js"></script>
{%endblock%}