{%extends 'base.html'%}


{%block head%}
    <title>Home</title>
    <link rel="stylesheet" href="static/index.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Racing+Sans+One&display=swap" rel="stylesheet">
{%endblock%}

{%block body%}
<div class="header">
    <nav>
        <div class="logo">
            SCT Wall
        </div>
        <div class="links">
            <button class="login btn">Login</button>
        </div>
    </nav>
</div>
{%endblock%}